*{
  box-sizing:border-box;
}
body{
  color:#222
  
}
img{
  max-width:100%;
}
main{
  padding:10px;
  max-width:960px;
  margin: 0 auto;
}
header{
  display:flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
}
header a{
  text-decoration:none;
  color:inherit;
  align-items: center;
}
header a.logo{
  font-weight:bold;
  font-size: 1.5rem;
}
header nav{
  display:flex;
  gap:15px;
}
div.post{
  display:grid;
  grid-template-columns: 1fr;
  /* grid-template-columns:  .9fr 1.1fr; */
  gap:20px;
  margin-bottom: 30px;
  
}

@media screen and (min-width: 768px) {
  div.post{
    grid-template-columns:  .9fr 1.1fr;
  }
}

div.post div.text h2{
  margin:0;
  
  font-size: 1.5rem;
}
div.post p.info{
  margin: 6px 0;
  color: #888;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
div.post p.info a.author{
  color: #333;
}
div.post p.summary{
  margin: 10px 0;
  line-height: 1.4rem;
}
form.login ,form.signup{
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20%;
}
input{
  display:block;
  margin-bottom: 5px;
  width: 100%;
  padding: 6px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

/*login button style */
.button-48{
  width:100%;
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
 
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
  font-weight: 800;
}
 form h1{
  font-size: 1.5rem;
  align-content:center;
 }


 



/* css for create post button */



.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* css button 39 */

.button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}



form.login h1, form.signup h1{
  text-align: center;
}

div.post-page div.image{
  max-height: 200px;
  display:flex;
  overflow:hidden;
}

div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a{
  color:#333;
  text-decoration: underline;
}

div.post-page h1{
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time{
  text-align: center;
  display:block;
  font-size: 0.7rem;
  color: #aaa;

}

div.post-page div.author{
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}
div.edit-row{
  text-align: center;
}

div.post-page a.edit-btn{
  background-color: #333;
  color: #fff;
  display: inline-flex;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  align-items:center;
  gap:5px;
}

a svg{
  height: 20px;
}

a{
  cursor:pointer;
}
/* span{
  position:absolute;
  top:5rem;
  left:19rem;
  color:darkslateblue;
  font-weight: 700;
} */